@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 60%;
  margin: 20px auto ;
  background-color: #000;
}

header {
  background-color: rgb(77, 42, 158);
  color: #fff;
  text-align: center;
  padding: 2rem;
  border-radius: 5px;
  margin-bottom: 30px ;
}

main {
  background-color: #fff;
  height: 100vh;
  padding: 3rem;
  border-radius: 5px;
}

ul {
  list-style-type: circle ;
}

ul li {
  margin-top: 1rem;
  color: #d80e0e;
}

ul li a {
  text-decoration: none;
  color: #d80e0e;
  font-weight: bold;
}